.lead__image {
  max-width: calc(100% + 32px);
  width: calc(100% + 32px);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lead__image {
    max-width: calc(100% + 48px);
    width: calc(100% + 48px);
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    width: 100%;
  }
}