.cover {
  max-width: 100%;
  background-image: url('../../images/cover.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    margin: 0 auto;
  }
}